<configuration>
    <!--    Appender to send messages to the console    -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--    Appender to send messages to a text file    -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!--    Output file name    -->
        <file>src/logs/log_output.txt</file>
        <!--  Appends logs to the existing file   -->
        <append>true</append>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--    Appender to send logs to an HTML file   -->
    <appender name="HTML" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <!--   Pattern for HTML format -->
                <pattern>%relative%thread%mdc%level%logger%msg</pattern>
            </layout>
        </encoder>
        <!--   Output HTML file name   -->
        <file>src/logs/log_output.html</file>
    </appender>

    <!--    Logger for milestone 1 (separate by logging levels) -->
    <logger name="firstMilestone" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="HTML"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!--    Logger for milestone 2 (separate by logging levels) -->
    <logger name="secondMilestone" level="off" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="HTML"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!--    Default root logger -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="HTML"/>
        <appender-ref ref="FILE"/>
    </root>


</configuration>
